Source: munin-plugins-fsinf
Section: net
Priority: optional
Maintainer: Mathias Ertl <mati@fsinf.at>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)
Vcs-Browser: https://github.com/fsinf/munin
Vcs-Git: https://github.com/fsinf/munin.git

Package: munin-fsinf-plugins
Architecture: all
Priority: oldlibs/extra
Depends: ${misc:Depends}, ${python:Depends}, munin-plugins-fsinf
Description: Munin plugins used by fsinf (old package name)
 Old and incorrect package name used until 2014-04-14.

Package: munin-plugins-fsinf
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Munin plugins used by fsinf
 This module provides some munin plugins used by fsinf.
